pymysql
peewee
aiomysql
peewee-async
WTForms
WTForms-Tornado
WTForms-json
redis
bcrypt
pyjwt
aiofile

api
#######user#######
获取邮箱验证码 GET        /code/            {"email":""}
注册账号      POST       /register/        {"email":"","code":}
登录         POST       /login/            {"email":"","code":,"password":""}
个人信息     POST/GET   /info/             {"nick_name":"","gender":"","desc":""}
修改头像信息  POST/GET    /headimage/       {"image":""}
修改密码      POST       /password/         {"old_password":"","old_password":"","confirm_password":""}

#######search######
获取热搜种类       GET           /breeds/
获取某种类详细信息  GET          /breeds/([0-9]+)/
评论              POST/GET     /breeds/([0-9]+)/comments/     {"content":""}
回复评论          POST/GET     /comments/([0-9]+)/replys/      {"replyed_user":"","content":""}
对评论点赞         POST         /comments/([0-9]+)/likes/